*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    color: white;
    font-family: "Nunito Sans", serif;
}

/*DIVs FLEX*/
article, header, .menu, .home, .frases, main, .sobre, .empresa, .assistencia, .container, .tipo, .manutencao, .feedbacks, .container-trocas, .feed, .indicadores, .orcamento, .orcamento-interno, .canal, footer, .rodape, .redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CANAL FLUTUANTE*/
#canal{
    height: 100vh;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(15px);
    z-index: +2;
    display: none;
}
#fechar-c, #fechar-m{
    position: absolute;
    top: 50px;
    right: 50px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 1s ease;
}
#fechar-c:hover, #fechar-m:hover{
    padding: 5px;
    background-color: rgba(240, 248, 255, 0.253);
}

/*MENU-HAMBURGUER*/
#menu-open{
    height: 100vh;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(15px);
    z-index: +1;
    background-color: #18181844;
    flex-direction: column;
    gap: 25px;
    display: none;

    & a{
        font-size: 25px;
        padding: 5px 50px;
        transition: all 1s;
        border-radius: 10px;
        &:hover{
            background-image: linear-gradient(to right, #E47124, #E34F24);
        }
    }
}

/*HOME*/
header{
    content: '';
    background-image: url(../imagens/back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}
.menu{
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    opacity: 0;

    & .logo{
       height: 70px;
       margin-left: 150px;
    }
    & .menu-h{
        height: 40px;
        cursor: pointer;
        margin-right: 150px;
    }
}
.home{
    gap: 100px;
}
.frases{
    flex-direction: column;
    align-items: start;
    max-width: 650px;
    gap: 10px;
    transform: translateY(50px);
    opacity: 0;

    & h1, span{
        font-family: "Montserrat", serif;
        font-size: 40px;
    }
    & span{
        color: #E47124;
    }
    & p{
        font-size: 25px;
    }
    & a{
        padding: 10px 20px;
        border: 1px solid #E47124;
        border-radius: 5px;
        transition: all 0.5s ease-in;
        &:hover{
            background-color: #E47124;
        }
    }
}
.home-img{
    height: 350px;
    border-radius: 20px;
    transform: translateY(50px);
    opacity: 0;
}

main{
    flex-direction: column;
}

/*SOBRE*/
.sobre{
    background-color: #eff0f3;
    width: 100%;
    gap: 100px;
    padding: 50px 0px;
}
.sobre-imagem{
    height: 550px;
    width: 550px;
    border-radius: 20px;
    animation: movimento 5s alternate infinite;
}
.empresa{
    align-items: start;
    width: 700px;
    flex-direction: column;
    gap: 10px;

    & img{
        height: 100px;
        width: 100px;
        animation: iluminacao 5s infinite alternate;
    }
    & h1{
        color: #E47124;
        font-family: "Montserrat", serif;
        font-size: 40px;
    }
    & p{
        color: #181818;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1.4px;
    }
}

/*ASSISTENCIA TECNOLÓGICA*/
.assistencia, .manutencao{
    padding: 50px 0px;
    width: 100%;
    flex-direction: column;
    background-color: #181818;
    gap: 50px;
    border-bottom: 1px solid #E47124;

    & a{
        padding: 7px 20px;
        font-size: 20px;
        color: #181818;
        background-color: #E47124;
        border-radius: 5px 15px;
        transition: all 1s ;
        &:hover{
            border-radius: 3px 15px;
            color: whitesmoke;
        }
    }
}
.title{
    font-size: 20px;
    padding: 10px 20px;
    background-color:#E34F24;
    border-radius: 20px;
    font-weight: 300;
}
.container{
    gap: 50px 100px;
    flex-wrap: wrap;
}
.tipo{
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    animation: entrada 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% 20%;
    
    & img{
        height: 70px;
        border-radius: 5px;
    }
    & h1{
        color:whitesmoke;
        font-size: 30px;
    }
    & p{
        color:whitesmoke;
        font-weight: 400;
        font-size: 18px;
    }
}


/*FEEDBACKS*/
.feedbacks{
    flex-direction: column;
    padding: 100px 0px;
    background-color: #eff0f3;
    width: 100%;
    height: 100%;
    gap: 30px;
    & h1{
        color: #E47124;
        font-weight: 500;
        font-size: 35px;
        text-align: center;
    }
}
.feed{
    max-width: 900px;
    height: 400px;
    gap: 25px;
    flex-direction: column;
    text-align: center;

    & img{
        height: 100px;
        border-radius: 50%;
    }
    & h1{
        font-size: 35px;
        color: #181818;
    }
    & p{
        font-size: 20px;
        font-family: "Montserrat", serif;
        color: #181818;
    }
}
.container-trocas{
    padding: 0px 50px;
    gap: 100px;
}
.trocas{
    height: 40px;
    width: 40px;

    & img{
        height: 40px;
        cursor: pointer;
        position: absolute;
        &:hover{
           filter: drop-shadow(0px 0px 5px rgb(228, 113, 36)); 
        }
    }
}
.indicadores{
    gap: 30px;
}
.b1, .b2, .b3, .b4, .b5{
    height: 17px;
    width: 17px;
    background-color:#E39224;
    border-radius: 50%;
}
#se1, #se2, #se3, #se4, #sd2, #sd3, #sd4{
    display: none;
}
#two, #three, #four, #five{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.b2, .b3, .b4, .b5{
    border: 1px solid #E39224;
    background-color: transparent;
}


/*CANAL DE OFERTAS*/
.canal{
    content: '';
    background-image: url(../imagens/cpu.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0px;
    flex-direction: column;
    gap: 15px;

    & img{
        height: 70px;
    }
    & h1, p, span{
        font-size: 20px;
        max-width: 850px;
        text-align: center;
        backdrop-filter: blur(2px);
    }
    & h1, span{
        font-size: 35px;
        font-family: "Montserrat", serif;
        font-weight: 500;
    }
    & span{
        color: #E47124;
        border-bottom: 1px solid #E47124;
    }
    & a{
        padding: 7px 18px;
        background-image: linear-gradient(to top, #E39224, #E34F24);
        border-radius: 5px;
        border: 1px solid transparent;
        &:hover{
            background-image: linear-gradient(to top, transparent, transparent);
            border: 1px solid #E47124; 
        }
    }
}


/*RODAPÉ*/
footer{
    background-color: #181818;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    flex-direction: column;
    gap: 30px;

    & hr{
        width: 100%;
    }
}
.rodape{
    width: 100%;
    justify-content:space-around;

    & span{
        text-align: center;
        max-width: 250px;
    }
    & h1{
        font-size: 20px;
    }
}
.rodape-empresa{
    text-align: center;
    & img{
        height: 80px;
    }
}
.redes{
    gap: 20px;

    & img{
        height: 40px;
        &:hover{
            border: 2px solid transparent;
        }
    }
}
.copy{
    text-align: center;

    & p{
        font-size: 18px;
        color: #E47124;
    }
}
